#img-logo {
    width: 100px;
    height: 75px;
}

.navbar-nav>li {
    padding-left: 10px;
    padding-right: 10px;
}


div .carousel-caption {
    text-align: left;
}

hr {
    position: relative;
    top: 1px;
    border: none;
    background: white;
    margin-bottom: 10px;
}

footer {
    padding-top: 35px;
    /* margin-top: 50px; */
    background: black;
    color: aliceblue;
}

#start_footer {
    padding-bottom: 20px;
}

#end_footer {
    background: gray;
    padding: 17px;
}

#start_header {
    background: green;
    padding-top: 10px;
    /* text-align:center; */
}

#footer {
    bottom: 0;
    width: 100%;
    margin-top:auto;
    position: relative;
}
.slider_button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: green;
  }

.slider_button:hover{
      color: white;
      background-color:rgb(56, 55, 55);
}
