
.first-nav{
    background: transparent linear-gradient(to right,#2E600A 0%,#2E600A 100%);
    font-size: 0.8rem !important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding: 7px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: -15px;
}

.col-12{
    text-align: center!important;
}

/*first-nav-left*/

.phone{
    margin-right: 1rem;
}

.first-nav .container .row a{
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.first-nav .container .row .first-nav-left a:hover{
    text-decoration: underline; 
}

/*first-nav-right*/
.first-nav-right{
    font-size: .9rem;
}

@media (min-width: 768px)
{.text{
    text-align:left !important
}}

@media (min-width: 768px)
{.texts{
    text-align:left !important
}}

.first-nav-right>span i{
    padding: .3rem;

}

.first-nav-right>span{
    margin-left: .1rem;
    margin-right: .1rem;
}
.first-nav .container .row .first-nav-right a{
    border: none;
    border-radius: 20%;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background-color: #58803B;
}
.first-nav .container .row .first-nav-right a:hover{
    background-color: whitesmoke;
    color: #2E600A;
    border: none;
    border-radius: 20%;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

#img-logo {
    width: 100px;
    height: 75px;
}

.navbar-nav>li{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.navbar-nav>li>a{
    padding-top: 20px;
}


div .carousel-caption {
    text-align: left;
}

hr {
    position: relative;
    top: 1px;
    border: none;
    background: white;
    margin-bottom: 10px;
}

footer {
    padding-top: 35px;
    /* margin-top: 50px; */
    background: black;
    color: aliceblue;
}

#start_footer {
    padding-bottom: 20px;
}

#end_footer {
    background: gray;
    padding: 17px;
}

#start_header {
    background: 2E600A;
    padding-top: 10px;
    /* text-align:center; */
}

#footer {
    bottom: 0;
    width: 100%;
    margin-top:auto;
    position: relative;
}
.slider_button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #2E600A;
  }

.slider_button:hover{
      color: white;
      background-color:#333;
}

.search-click {
    border: 1px solid #ccc;
    outline: none;
    background-size: 20px;
    background-position: 10px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 25px;
    transition: all 0.5s;
  }
  .search-click:focus {
    width: 300px;
    padding-left: 50px;
  }
  .search-click {
    position: relative;
    overflow: hidden;
    height: 0px;
  }
  .search-click input {
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    position: absolute;
    width: 300px;
    height: 50px;
    left: 0%;
    padding: 10px;
  }
